@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Scrollbar styling */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #0A1422;
}

::-webkit-scrollbar-thumb{
    background-color: #4AFFA8
}

::-webkit-scrollbar-thumb:hover{
    background-color: #90ffc9;
}


html{
    @apply scroll-smooth h-[100%];
    scrollbar-color: #4AFFA8 #0A1422;
    scrollbar-width: thin;
}

.App{
    @apply flex flex-col min-h-[100vh]
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #0A1422;
    color: #E1EDFF;
}

.about-ul{
    @apply font-medium text-[18px] flex flex-col gap-2 list-none
}

.about-ul-li::before {
    content: "\2022";  
    color: #4AFFA8; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.section-heading{
    @apply text-[36px] mb-8 mt-[120px]
}

.background-img-projects{
    @apply bg-no-repeat bg-cover w-[100%]
}

.project-list{
    @apply whitespace-nowrap
}

.project-list li {
    @apply inline-block
}

.project-desc{
    grid-row: 1/3;
    z-index: 10;
}

.project-image{
    grid-row: 1/3
}

textarea{
    resize: none;
    background-color: transparent;
    outline: none;
    border: 1px solid #4AFFA8;
    border-radius: 5px;
    padding: 10px;
}

input{
    background-color: transparent;
    outline: none;
    border: 1px solid #4AFFA8;
    border-radius: 5px;
    padding: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

.mobile-menu-open {
    animation: move-left-to-right 0.3s ease-in-out;
}

@keyframes move-left-to-right {
    0% {
        transform: translateX(250px);
    }
    100%{
        transform: translateX(0px);
    }
}

.mobile-menu-close{
    animation: move-right-to-left 0.3s ease-in-out;
}

@keyframes move-right-to-left {
    0% {
        transform: translateX(0px);
    }
    100%{
        transform: translateX(250px);
    }
}

/* Doesn't work properly in deployment build */
/* .portal-animation{
    animation: appear 0.5s ease-in-out;
}

@keyframes appear {
    0% {
        @apply scale-75;
    }
    100%{
        @apply scale-100
    }
} */

.portal-opacity-animation {
    animation: opacity 0.4s ease-in-out;
}

@keyframes opacity {
    0% {
        @apply opacity-50;
    }
    100%{
        @apply opacity-80;
    }
}


